# Prevent React-related packages from being hoisted to root
# This allows different workspaces to use different React versions
public-hoist-pattern[]=!react
public-hoist-pattern[]=!react-dom
public-hoist-pattern[]=!react-reconciler
public-hoist-pattern[]=!@types/react
public-hoist-pattern[]=!@types/react-dom

# Allow other common dev tools to be hoisted
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*

# Strict peer dependencies can cause issues in monorepos
strict-peer-dependencies=false
auto-install-peers=false
